# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
*.spec
build/
dist/

# VS Code
.vscode/

# Local Data (Optional: uncomment if you want to exclude your local data)
# data/employees.json
# data/shift_storage.json

# Antigravity
.antigravity/
